
.dashboard {
  position: relative;
  left: 250px;
  background-color: var(--panel-color);
  min-height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px;
  transition: var(--tran-05);
}
nav.close ~ .dashboard {
  left: 73px;
  width: calc(100% - 73px);
}

.dashboard .top {
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  background-color: var(--panel-color);
  transition: var(--tran-05);
  z-index: 10;
}
nav.close ~ .dashboard .top {
  left: 73px;
  width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle {
  font-size: 28px;
  color: var(--black-light-color);
  cursor: pointer;
  padding-left: 9px;
}

#middle-brand {
  display: none;
}

/* .top img{
    width: 40px;
    border-radius: 50%;
} */
.dashboard .dash-content {
  padding-top: 50px;
}
.dash-content .title {
  display: flex;
  align-items: center;
  margin: 60px 0 30px 0;
}
.dash-content .title i {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: var(--primary-color);
  border-radius: 6px;
  color: var(--title-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.dash-content .title .text {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 10px;
}
.dash-content form {
  max-width: 90%;
  margin-inline: auto;
  /* margin-right: 10px; */
}
.dash-content .form .personal-details {
  font-size: 1rem;
  font-weight: 500;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.dash-content .form .personal-details div {
  display: flex;
  flex-direction: column;
}

.dash-content .form .personal-details div input,
.Business-Details > div > input {
  height: 40px;
  font-size: 1.125rem;

  border: 2px solid var(--box1-color);
  border-radius: 5px;
}
input:focus {
  outline: 2px solid var(--primary-color);
}

.Business-Details > div {
  margin-bottom: 20px;
}

.Business-Details {
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  font-size: 1.125rem;
  font-weight: 500;

  display: flex;
  flex-wrap: wrap;
}
.Business-Details label {
  display: block;
}
.Business-Details textarea {
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid var(--box1-color);
  font-size: 1rem;
}
.Business-Details textarea:focus {
  outline: 2px solid var(--primary-color);
}

input[type="checkbox"] {
  display: inline-block;
  height: 1rem !important;
  width: auto;
  /* font-size: .125rem; */
}
.checkboxes div {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

label[for="checkbox"] {
  font-size: 1rem;
  display: inline;
  font-weight: normal;
  margin-left: 10px !important;
}

.checkboxes1,
.checkboxes2 {
  margin-block: 10px;
}
.btn {
  display: flex;

  justify-content: end;
}

input[type = "date"]{
  max-width: 200px;
}


button[type="submit"] {
  all: unset;
  border: 2px solid #004aad;
  color: white;
  background-color: #004aad;
  margin: 20px 10px;
  padding: 10px 25px;
  /* width: px; */
  border-radius: 30px;
  font-size: 95%;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
button[type="submit"]:hover {
  transform: scale(1.1);

  background-color: #004bad73;
}
a:active {
  background-color: rgba(240, 248, 255, 0);
}

@media (max-width: 1000px) {
  nav {
    width: 73px;
  }
  nav.close {
    width: 250px;
  }
  nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close .logo_name {
    opacity: 1;
    pointer-events: auto;
  }
  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close li a .link-name {
    opacity: 1;
    pointer-events: auto;
  }
  nav ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav.close ~ .dashboard {
    left: 250px;
    width: calc(100% - 250px);
  }
  nav ~ .dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav.close ~ .dashboard .top {
    left: 250px;
    width: calc(100% - 250px);
  }
  a:active {
    background-color: rgba(240, 248, 255, 0);
  }
}

@media (max-width: 780px) {
  .dash-content .boxes .box {
    width: calc(100% / 2 - 15px);
    margin-top: 15px;
  }
  a:active {
    background-color: rgba(240, 248, 255, 0);
  }
}
@media (max-width: 560px) {
  .dash-content .boxes .box {
    width: 100%;
  }
  a:active {
    background-color: rgba(240, 248, 255, 0);
  }
}
@media (max-width: 400px) {
  nav {
    width: 0px;
  }
  #middle-brand {
    display: flex;
  }

  nav.close {
    width: 73px;
  }
  nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav ~ .dashboard {
    left: 0;
    width: 100%;
  }
  nav.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
  nav.close ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
  #main-brand,
  .logo-name:nth-child(1) {
    display: none !important;
  }
  .dash-content .form .personal-details div input {
    box-sizing: border-box;
    width: 90%;

    /* min-width: 200px;
    max-width: 250px; */
    height: 40px;
    font-size: 1.125rem;

    border: 2px solid var(--box1-color);
    border-radius: 5px;
  }
  .Business-Details > div > input {
    width: 90% !important;
  }
  .Business-Details {
    margin-top: 40px;
    font-size: 1rem;
    font-weight: 400;
  }
  a:active {
    background-color: rgba(240, 248, 255, 0);
  }
}


